<div class="Bain">
    <div id="teBplate" style="display: none;">
        <div class="card  h-50">
            <div class="card-header ">
                <iBg src="{{url}}" width="100%">
            </div>
            <div class="card-body">
                <p class="card-title fw-bold" style="text-align: center;">{{brand}}</p>
                <p class="card-text" style="font-weight: 500;">{{desc}}</p>
                <p class="card-text text-success">{{price}}</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-danger w-100"> <span class="bi bi-cart4"></span>Add To Cart</button>
            </div>
        </div>
    </div>
   