

<div class="main" >
  <div id="template1" style="display: none;">
    <div class="card  h-50">
     <div class="card-header ">
     <img src="{{url}}"  width="100%" >
    </div>
    <!-- <div class="card-body">
       <p class="card-title fw-bold" style="text-align: center;">{{brand}}</p>
      <p class="card-text" style="font-weight: 500;">{{pname}}</p>
      <p class="card-text text-success">{{price}}</p>
    </div> -->
    <div class="card-footer">
      <button class="btn btn-danger w-100" onclick="{{call}}">{{desc}}</button> 
    </div> 
  </div>
</div>
  
<script>
  var ptemplate = Handlebars.compile($("#template1").html());
 
       var firstpage=[
             {
                
                 url :"assets/mens_wear/m6.jpg",
                 desc:"SEE MORE",
                 call:"product('mens')"
             
             },
             {
                 url :"assets/women_wear/Ww3.jpg",
                 desc:"SEE MORE",
                 call:"product('women')"
             },
             {
                 url :"assets/Bags/B4.jpg",
                 desc:"SEE MORE",
                 call:"product('bag')"
             },
             {
                 url :"assets/electronic/E4.jpg",
                 desc:"SEE MORE",
                 call:"product('elec')"
             },
             {
                 url :"assets/fruits/F1.jpg",
                 desc:"SEE MORE",
                 call:"product('fruit')"
             },
             {
                 url :"assets/kids_wear/Kw12.jpg",
                 desc:"SEE MORE",
                 call:"product('kid')"
             },
             {
                 url :"assets/laptop/L1.jpg",
                 desc:"SEE MORE",
                 call:"product('laptop')"
             },
             {
                  url :"assets/Mobiles/M1.jpg",
                 desc:"SEE MORE",
                 call:"product('mob')"
             },
             {
                 url :"assets/Shoes/S1.jpg",
                 desc:"SEE MORE",
                 call:"product('Shoe')" 
             },
             {
                 url :"assets/Sunglasses/S1.jpg",
                 desc:"SEE MORE",
                 call:"product('glasses')"
             },
           
             {
                 url :"assets/Vegetables/V2.jpg",
                 desc:"SEE MORE",
                 call:"product('veg')"
             },
             {
                url :"assets/Watch/W1.jpg",
                 desc:"SEE MORE",
                 call:"product('watch')"
             },
           ]
         
             
         
         
         
         for(var i=0;i<firstpage.length;i++){
            
             var temp = ptemplate(firstpage[i]);
             $(".main").append(temp);
         }
</script>  